<ng-container *ngFor="let article of latestArticles">
    <div tabindex="0" class="e-card" id="basic" *ngIf="articlesSource != '/' && article.source === articlesSource">
      <div class="e-card-header">
        <div class="e-card-header-caption">
          <div class="e-card-title"><a href="{{ article.link }}" target="_blank">{{ article.title }}</a></div>
          <p><a href="{{ article.sourceLink }}" target="_blank">{{ article.source }}</a> {{ article.pubDate }}</p>
        </div>
      </div>
      <div class="e-card-content" [innerHTML]="article.content"></div>
    </div>
    <div tabindex="0" class="e-card" id="basic" *ngIf="articlesSource == '/'">
      <div class="e-card-header">
        <div class="e-card-header-caption">
          <div class="e-card-title"><a href="{{ article.link }}" target="_blank">{{ article.title }}</a></div>
          <p><a href="{{ article.sourceLink }}" target="_blank">{{ article.source }}</a> {{ article.pubDate }}</p>
        </div>
      </div>
      <div class="e-card-content" [innerHTML]="article.content"></div>
      <p *ngIf="article.category != ''">{{ article.category }}</p>
    </div>
  </ng-container>