<ng-container *ngFor="let article of latestArticles">
    <div class="newsArticle" *ngIf="articlesSource != '/' && article.source === articlesSource">
      <a class="title" href="{{ article.link }}" target="_blank">{{ article.title }}</a>
      <p><a href="{{ article.sourceLink }}" target="_blank">{{ article.source }}</a> {{ article.pubDate }}</p>
      <div class="content" [innerHTML]="article.content"></div>
      <p *ngIf="article.category">Kategori: {{ article.category }}</p>
    </div>

    <div class="newsArticle" *ngIf="articlesSource == '/'">
      <a class="title" href="{{ article.link }}" target="_blank">{{ article.title }}</a>
      <p><a href="{{ article.sourceLink }}" target="_blank">{{ article.source }}</a> {{ article.pubDate }}</p>
      <div class="content" [innerHTML]="article.content"></div>
      <p *ngIf="article.category">Kategori: {{ article.category }}</p>
    </div>
</ng-container>