.sourceInformation {
    width: 100%;
    padding: 10px;
    box-shadow: 0.5px 0.5px 3px #888888;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 20px;
    background-color: #4c858a;
    color: #fff;
}

h1 {
    font-size: 20px;
}

a {
    color: #fff;
    font-size: 20px;
}

a:hover {
    color: #8abdc2;
    text-decoration: none;
}